<div class="author-box" style="background-size:cover;background-image:url({{ site.baseurl }}/uploads/one-person.jpg);border:2px solid #ccc"></div>
<div class="author-box" style="background-size:cover;background-image:url({{ site.baseurl }}/uploads/one-person.jpg);border:2px solid #ccc"></div>
<div class="author-box" style="background-size:cover;background-image:url({{ site.baseurl }}/uploads/one-person.jpg);border:2px solid #ccc"></div>
<div class="author-box" style="background-size:cover;background-image:url({{ site.baseurl }}/uploads/one-person.jpg);border:2px solid #ccc"></div>
<div class="author-box" style="background-size:cover;background-image:url({{ site.baseurl }}/uploads/one-person.jpg);border:2px solid #ccc"></div>
<div class="author-box" style="background-size:cover;background-image:url({{ site.baseurl }}/uploads/one-person.jpg);border:2px solid #ccc"></div>
<div class="author-box" style="background-size:cover;background-image:url({{ site.baseurl }}/uploads/one-person.jpg);border:2px solid #ccc"></div>
<div class="author-box" style="background-size:cover;background-image:url({{ site.baseurl }}/uploads/one-person.jpg);border:2px solid #ccc"></div>
<div class="author-box" style="background-size:cover;background-image:url({{ site.baseurl }}/uploads/one-person.jpg);border:2px solid #ccc"></div>
<div class="author-box" style="background-size:cover;background-image:url({{ site.baseurl }}/uploads/one-person.jpg);border:2px solid #ccc"></div>