<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }} - {{ site.sub_title }}</title>
<link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Oxygen:700" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/dist/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/dist/css/extras.css">

<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
<!-- Add the new slick-theme.css if you want the default styling-->
<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>