<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- head -->
    {% include head.html %}
    <!-- End of head -->
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
		<!-- Start of header -->
		{% include header.html %}
        <!-- End of header -->

        <!-- Start of content -->
        {{ content }}
        <!-- End of content -->
        
        <!-- Start of footer -->
        {% include footer.html %}
        <!-- End of footer -->
    </div>

    <!-- Scripts -->
    {% include scripts.html %}
    <!-- End of Scripts -->
</body>
</html>